.button {
    min-width: 132px;
    height: 36px;
    border-radius: 6px;
    font-family: 'Inter', Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
    transition: background 0.2s, color 0.2s, border 0.2s;
    border: 1.5px solid;
    outline: none;
    margin-bottom: 8px;
}

.disabled {
    opacity: 0.5;
    cursor: default;
    color: #fff;
    background: #bcd6fa;
    border-color: #bcd6fa;
}

.secondary {
    color: #2563eb;
    background: #fff;
    border-color: #2563eb;
}

.default {
    color: #fff;
    background: #2563eb;
    border-color: #2563eb;
}

.red {
    color: #fff;
    background: #eb5757;
    border-color: #eb5757;
}

.default:hover, .secondary:hover {
    background: #3b82f6;
    color: #fff;
    border-color: #3b82f6;
}

.red:hover {
    background: #ff4d4f;
    border-color: #ff4d4f;
}

.default:active, .secondary:active {
    background: #1d4ed8;
    color: #fff;
    border-color: #1d4ed8;
}

.red:active {
    background: #b91c1c;
    border-color: #b91c1c;
}

.button:disabled {
    cursor: default;
    pointer-events: none;
}

.secondary:active {
    background: #e0e7ff;
    color: #2563eb;
}